<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" style="margin-top: 40px; opacity: 0.95;">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2>List of Companies</h2>
            <br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Status</th>
                  <th class="d-none">Id</th>
                  <th>Name</th>
                  <th>EDRPOU</th>
                  <th>Website</th>
                  <th>Claims</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let company of companies">
                <tr>
                  <td>
                    <i *ngIf="company.status == 'APPROVED' && !hasClaims(company)" class="fa fa-thumbs-up" rel="tooltip"
                      title="This company is approved" style="color: green; font-size: 150%;"></i>
                    <i *ngIf="company.status == 'APPROVED' && hasClaims(company)" class="fa fa-warning" rel="tooltip"
                      title="This company has claims" style="color: orange; font-size: 150%;"></i>
                    <i *ngIf="company.status == 'CREATED'" class="fa fa-times" style="color: red; font-size: 150%;"
                      rel="tooltip" title="This company is not approved"></i>
                    <i *ngIf="company.status == 'BLOCKED'" class="fa fa-lock" style="color: black; font-size: 150%;"
                      rel="tooltip" title="This company is blocked"></i>
                    <i *ngIf="company.status == 'MAIL_SENT'" class="fa fa-envelope"
                      style="color: greenyellow; font-size: 150%;" rel="tooltip"
                      title="This company is approved, but not confirmed"></i>
                  </td>
                  <td class="d-none"
                    *ngIf="filter == 'all' || filter == 'approved' && isApproved(company) || filter == 'unapproved' && !isApproved(company)">
                    {{company.companyId}}</td>
                  <td
                    *ngIf="filter == 'all' || filter == 'approved' && isApproved(company) || filter == 'unapproved' && !isApproved(company)">
                    {{company.name}}</td>
                  <td
                    *ngIf="filter == 'all' || filter == 'approved' && isApproved(company) || filter == 'unapproved' && !isApproved(company)">
                    {{company.edrpou}}</td>
                  <td
                    *ngIf="filter == 'all' || filter == 'approved' && isApproved(company) || filter == 'unapproved' && !isApproved(company)">
                    {{company.website}}</td>
                  <td
                    *ngIf="filter == 'all' || filter == 'approved' && isApproved(company) || filter == 'unapproved' && !isApproved(company)">
                    <a *ngIf="company.companyId != currentClaim && hasClaims(company)" class="btn" rel="tooltip"
                      title="Show" (click)="currentClaim=company.companyId"><i class="fa fa-sort-down"></i></a>
                  </td>
                  <td
                    *ngIf="filter == 'all' || filter == 'approved' && isApproved(company) || filter == 'unapproved' && !isApproved(company)">
                    <a routerLink="/viewCompany/{{company.companyId}}" class="btn" rel="tooltip" title="View details"><i
                        class="fa fa-eye"></i></a>
                    <a *ngIf="company.status == 'CREATED'" class="btn" (click)="approve(company)" rel="tooltip"
                      title="Approve"><i class="fa fa-send"></i></a>
                    <a *ngIf="company.status == 'APPROVED'" class="btn" (click)="block(company)" rel="tooltip"
                      title="Block"><i class="fa fa-lock"></i></a>
                    <a *ngIf="company.status == 'BLOCKED'" class="btn" (click)="block(company)" rel="tooltip"
                      title="Unblock"><i class="fa fa-unlock"></i></a>
                  </td>
                </tr>

                <tr>
                  <td colspan="6">
                    <div *ngIf="company.companyId == currentClaim" width="100%">
                      <table class="table table-stripped">
                        <thead>
                          <tr>
                            <th class="d-none">Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let claim of company.claims">
                            <td class="d-none">{{claim.claimId}}</td>
                            <td>{{claim.title}}</td>
                            <td>{{claim.description}}</td>
                            <td>
                              <button class="btn" (click)="rejectClaim(claim)" rel="tooltip" title="Reject claim"><i
                                  class="fa fa-ban"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <a class="btn" (click)="currentClaim=null;" rel="tooltip" title="Hide"><i
                          class="fa fa-sort-up"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <button *ngIf="canPrev()" class="btn btn-info" (click)="prev();">&laquo; Previous</button>
            <button *ngIf="canNext()" class="btn btn-info" (click)="next();">Next &raquo;</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>