<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="form-v8">
  <div class="page-content">
    <div class="form-v8-content">
      <div class="form-left">
        <img src="../../assets/img/logo.png" alt="form">
      </div>
      <div class="form-right">
        <div class="tab">
          <div class="tab-inner">
            <button class="tablinks" id="passwordReset">Reset password</button>
          </div>
        </div>
        <form class="form-detail" (submit)="forgotPassword()">
          <div class="form-row">
            <label class="form-row-inner">
              <input type="text" name="username" id="username" class="input-text" #username="ngModel"
                [(ngModel)]="userLogin.username" required autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <span class="label">E-Mail</span>
              <span class="border"></span>
            </label>
            <div *ngIf="username.errors && username.dirty" class="alert alert-danger">
              <div [hidden]="!username.errors.required">Email is required!</div>
              <div [hidden]="!username.errors.pattern">Please check your login!</div>
            </div>
          </div>
          <div class="form-row-last">
            <input type="submit" name="register" class="register" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>