
<div class="bdy">
  <nav class="navbar navbar-expand-md  bg-dark">
    <div class="col-4">
        <ul class="navbar-nav ">
            <a class="nav-link mr-2 text-light" routerLink="/contract/add"  >Create offer</a>
            <a class="nav-link mr-2 text-light" routerLink="/contract/view" >Vacancies</a>
        </ul>
    </div>
    <div class="col-8">
        <div class="row justify-content-end">
            <button class="btn btn-outline-danger">Log out</button>
        </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
