<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" style="margin-top: 40px; opacity: 0.95;">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2 class="title">Create Company</h2>
            <form class="form-horizontal" #companyForm="ngForm">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Main Info</h3>

                <div class="form-group" *ngIf="company.companyId != null">
                  <figure class="figure col-md-2 col-sm-3 col-xs-12">
                    <img *ngIf="avatar" class="rounded img-responsive" style="width: 160px; height: 180px"
                      [src]="avatar" alt="">
                    <img *ngIf="!avatar" class="rounded img-responsive" style="width: 160px; height: 180px"
                      src="/assets/img/company.png" alt="">
                  </figure>
                  <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                    <input type="file" class="custom-file-input" id="customFile" accept="image/*"
                      (change)="handlePhoto($event.target.files)">
                    <label class="custom-file-label" for="customFile" style="width: 160px;"></label>
                    <input class="btn btn-primary" type="button" value="Update Photo" (click)="uploadPhoto()"
                      style="width: 160px; margin-top: 10px; ">
                  </div>
                </div>

                <div class="form-group">
                  <label for="name" class="col-md-2 col-sm-3 col-xs-12 control-label">Company Name</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[A-Za-z0-9? ?A-Za-z0-9]{3,30}$"
                      [(ngModel)]="company.name" placeholder="Company Name" id="name" name="name" #name="ngModel"
                      required autocomplete="off">
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                      <div [hidden]="!name.errors.required">Company Name is required!</div>
                      <div [hidden]="!name.errors.pattern">
                        Compnany Name can only contain letters and numbers (3-30 characters)!
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="edrpou" class="col-md-2 col-sm-3 col-xs-12 control-label">EDRPOU</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[0-9]{8,10}$" [(ngModel)]="company.edrpou"
                      placeholder="EDRPOU" id="edrpou" name="edrpou" #edrpou="ngModel" required autocomplete="off">
                    <div *ngIf="edrpou.errors && (edrpou.dirty || edrpou.touched)" class="alert alert-danger">
                      <div [hidden]="!edrpou.errors.required">EDRPOU is required!</div>
                      <div [hidden]="!edrpou.errors.pattern">
                        EDRPOU can only contain numbers (8-10 characters)!
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label for="description" class="col-md-2 col-sm-3 col-xs-12 control-label">Description</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <textarea class="form-control" pattern="^[\s\S]{0,2000}$" [(ngModel)]="company.description"
                      placeholder="Description" id="description" name="description" #description="ngModel"
                      autocomplete="off" style="resize: none" rows="5" required>
                    </textarea>
                    <div *ngIf="description.errors && (description.dirty || description.touched)"
                      class="alert alert-danger">
                      <div [hidden]="!description.errors.pattern">
                        Description is incorrect (up to 2000 characters)!
                      </div>
                      <div [hidden]="!description.errors.required">Description is required!</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="website" class="col-md-2 col-sm-3 col-xs-12 control-label">Website</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" maxlength="50"
                      pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                      [(ngModel)]="company.website" placeholder="Website" id="website" name="website" #website="ngModel"
                      required autocomplete="off">
                    <div *ngIf="website.errors && (website.dirty || website.touched)" class="alert alert-danger">
                      <div [hidden]="!website.errors.required">Website URL is required!</div>
                      <div [hidden]="!website.errors.pattern">
                        Website URL is incorrect!
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Contacts Info</h3>

                <div class="form-group">
                  <label for="email" class="col-md-2 col-sm-3 col-xs-12 control-label">Email</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" maxlength="50"
                      pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                      [(ngModel)]="company.contact.email" placeholder="Email" id="email" name="email" #email="ngModel"
                      required autocomplete="off">
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                      <div [hidden]="!email.errors.required">Email is required!</div>
                      <div [hidden]="!email.errors.pattern">
                        Email address is incorrect!
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="phoneNumber" class="col-md-2 col-sm-3 col-xs-12 control-label">Phone Number</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" maxlength="20"
                      pattern="^[+]*[0-9][0-9][(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                      [(ngModel)]="company.contact.phoneNumber" placeholder="Phone Number" id="phoneNumber"
                      name="phoneNumber" #phoneNumber="ngModel" required autocomplete="off">
                    <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)"
                      class="alert alert-danger">
                      <div [hidden]="!phoneNumber.errors.required">Phone Number is required!</div>
                      <div [hidden]="!phoneNumber.errors.pattern">
                        Phone Number is incorrect!
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Address Info</h3>

                <div class="form-group">
                  <label for="country" class="col-md-2  col-sm-3 col-xs-12 control-label">Address</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[A-Za-z+? ?-A-Za-z]{3,30}$"
                      [(ngModel)]="company.address.country" placeholder="Country" id="country" name="country"
                      #country="ngModel" required autocomplete="off">
                    <div *ngIf="country.errors && (country.dirty || country.touched)" class="alert alert-danger">
                      <div [hidden]="!country.errors.required">Country Name is required!</div>
                      <div [hidden]="!country.errors.pattern">
                        Country Name can only contain letters (from 3 to 30 characters)!
                      </div>
                    </div>
                  </div>
                  <label for="city street" class="col-md-10 col-form-label form-control-label"></label>
                  <div class="col-md-5" style="float: left; ">
                    <input type="text" class="form-control" pattern="^[A-Za-z+? ?-A-Za-z]{3,20}$"
                      [(ngModel)]="company.address.city" placeholder="City" id="city" name="city" #city="ngModel"
                      required autocomplete="off">
                    <div *ngIf="city.errors && (city.dirty || city.touched)" class="alert alert-danger">
                      <div [hidden]="!city.errors.required">City Name is required!</div>
                      <div [hidden]="!city.errors.pattern">
                        City Name can only contain letters (from 3 to 20 characters)!
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5" style="float: left; ">
                    <input type="text" class="form-control" pattern="^[A-Za-z+? ?-A-Za-z]{3,30}$"
                      [(ngModel)]="company.address.street" placeholder="Street" id="street" name="street"
                      #street="ngModel" autocomplete="off">
                    <div *ngIf="street.errors && (street.dirty || street.touched)" class="alert alert-danger">
                      <div [hidden]="!street.errors.pattern">
                        Street Name can only contain letters (from 3 to 30 characters)!</div>
                    </div>
                  </div>
                  <label for="building apartment zipCode" class="col-md-10 col-form-label form-control-label"></label>
                  <div class="col-md-3" style="float: left; ">
                    <input type="text" class="form-control" pattern="^[A-Za-z0-9]{1,5}$"
                      [(ngModel)]="company.address.building" placeholder="Building" id="building" name="building"
                      #building="ngModel" autocomplete="off">
                    <div *ngIf="building.errors && (building.dirty || building.touched)" class="alert alert-danger">
                      <div [hidden]="!building.errors.pattern">
                        Building can only contain letters and numbers (up to 5 characters)!</div>
                    </div>
                  </div>
                  <div class="col-md-3" style="float: left; ">
                    <input type="text" class="form-control" pattern="^[A-Za-z0-9]{1,5}$"
                      [(ngModel)]="company.address.apartment" placeholder="Apartment" id="apartment" name="apartment"
                      #apartment="ngModel" autocomplete="off">
                    <div *ngIf="apartment.errors && (apartment.dirty || apartment.touched)" class="alert alert-danger">
                      <div [hidden]="!apartment.errors.pattern">
                        Apartment can only contain letters and numbers (up to 5 characters)!</div>
                    </div>
                  </div>
                  <div class="col-md-4" style="float: left; ">
                    <input type="number" class="form-control" pattern="^[0-9]{5}$" [(ngModel)]="company.address.zipCode"
                      placeholder="Zip Code" id="zipCode" name="zipCode" #zipCode="ngModel" autocomplete="off">
                    <div *ngIf="zipCode.errors && (zipCode.dirty || zipCode.touched)" class="alert alert-danger">
                      <div [hidden]="!zipCode.errors.pattern">
                        ZipCode can only contain numbers (5 characters)!
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Action</h3>
                <div class="form-group">
                  <div *ngIf="company.companyId == null">
                    <button [disabled]="!companyForm.form.valid" class="btn btn-primary"
                      (click)="create()">Create</button>
                  </div>
                  <div *ngIf="company.companyId != null">
                    <button [disabled]="!companyForm.form.valid" class="btn btn-success"
                      (click)="update()">Update</button>
                  </div>
                  <a class="btn btn-danger" (click)="goBack()" style="font-size: 15px; margin-top: 15px;">Go back</a>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>