<!--
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" style="margin-top: 40px; opacity: 0.95;">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2>Your Resume</h2>
            <form class="form-horizontal" #personForm="ngForm">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Main Info</h3>
                <div class="simpleVacancy">
                  <p><span class="mySpan">Position: </span>{{resume.position}}</p>
                  <p class="mySpan">Your Skill:</p>
                  <td>
                    <li style="margin-left: 10px;" *ngFor="let skill of resume.skills ">
                      {{skill.title}}</li>
                  </td>
                </div>
              </fieldset>
              <hr>
              <a *ngIf="resume.resumeId == null" routerLink="/resume/create">Create Resume</a>
              <div *ngIf="resume.resumeId != null">
                <a class="btn btn-primary" routerLink="/createResumePdf"
                  style="font-size: 17px; margin-left: 10px; margin-top:20px;">Create Pdf</a>
                <a class="btn btn-primary" routerLink="/update/{{resume.resumeId}}"
                  style="font-size: 17px; margin-left: 10px; margin-top:20px;">Show all info</a>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>-->