<router-outlet></router-outlet>

<nav class="navbar navbar-toggleable-md fixed-top  bg-dark" style="height:70px">
  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
<div class="col-10">
 

  <div class="collapse navbar-collapse" style="margin-left: 100px;">
    <ul class="navbar-nav">
      
      <a class="nav-link text-light" routerLink="/companies/my" *ngIf="isCowner">My companies</a>
      <a class="nav-link text-light" routerLink="/createCompany" *ngIf="isUser || isCowner">Create company</a>
      <a class="nav-link text-light" routerLink="/companies" *ngIf="isAdmin">Сompanies</a>
      <a class="nav-link text-light" routerLink="/hotVacancies">Hot Vacancies</a>
      <a class="nav-link text-light" routerLink="/closedVacancies" *ngIf="isCowner">Closed Vacancies</a>
    </ul>
  </div>
</div>
  <div class="col-2">
    <ul class="navbar-nav ml-auto">
     <!-- <li class="nav-item" style="margin-top: 5px; margin-right: 60px;">
        <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="searchShown" (click)="showSearchForm()"
          style="width: 200px;">
          Search
        </button>
      </li>-->
      <li class="nav-item">
        <div class="dropdown">
          <a class="dropdown-toggle text-light nav-link" data-toggle="dropdown">
            Profile
          </a>
          <div class="list dropdown-menu">
            <a class="dropdown-item" routerLink="/profile" *ngIf="isUser || isCowner">Profile</a>
            <a class="dropdown-item" routerLink="/users/auth" *ngIf="!currentUser">Log in</a>
            <a class="dropdown-item" (click)="logout()" *ngIf="currentUser">Log out</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="bg-secondary" id="footer">
  <span class="text-light">© Copyright</span>
</div>
<!--
<div id="overlay" [hidden]="searchForm">
  <button id="hideButton" (click)="hide()" style="color: white" class="btn"><i class="fa fa-close"></i></button>
  <form class="search-form">
    <div class="select-control" *ngIf="isCowner">Search</div>
    <select [(ngModel)]="search.searchDocument" (ngModelChange)="selectDocument()" name="searchDocument"
      class="form-control" *ngIf="isCowner">
      <option [defaultSelected]="search.searchDocument" value="vacancies">vacancy</option>
      <option value="resume">resume</option>
    </select>

    <div class="vacancy-select" [hidden]="vacancySelect">
      <div class="select-control" *ngIf="!isCowner">Search vacancy by</div>
      <div class="select-control" *ngIf="isCowner">by</div>
      <select [(ngModel)]="search.searchParameter" name="searchParameter" class="form-control">
        <option [defaultSelected]="search.searchParameter" value="position">position</option>
        <option value="city">city</option>
        <option value="company">company</option>
      </select>
    </div>

    <div class="resume-select" [hidden]="resumeSelect" *ngIf="isCowner">
      <div class="select-control" *ngIf="isCowner">by</div>
      <select [(ngModel)]="search.searchParameter" name="searchParameter" class="form-control">
        <option [defaultSelected]="search.searchParameter" value="name">name</option>
        <option value="skill">skill</option>
        <option value="phoneNumber">phone</option>
        <option value="city">city</option>
        <option value="position">position</option>
      </select>
    </div>

    <input type="text" [(ngModel)]="search.searchText" placeholder="Search..." name="searchText"
      class="form-control"><br>
    <button id="startButton" class="btn btn-info" (click)="startSearch()">Start search</button>
  </form>
</div> -->