<body>
    <div class="container" style="margin-top: 40px; opacity: 0.95;">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="content-panel">
                        <p>Please wait while your company is being approved</p>
                        <br>
                        <p>If you have no access, please, login</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>