<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" style="margin-top: 70px; position: relative;  min-height: 100vh;">
    <div class="masthead ">
      <h3 class="text-muted">Vacancies</h3>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let vacancy of vacancies ">

        <div class="hotVacancies" *ngIf="vacancy.hotVacancy==true">
          <div style="background: rgb(247, 248, 196)" class="card">
            <span class=" ribbon"><span class="badge badge-danger">HOT</span></span>
            <h2 style="margin-left: 10px;">{{vacancy.position}}</h2>
            <p style="margin-left: 10px;">{{vacancy.employment}}</p>
            <td>
              <li style="margin-left: 20px;" *ngFor="let requirement of vacancy.requirements | slice:0:1;">
                {{requirement.description}}</li>
            </td>
            <div class="row align-items-end" style="height: 100%;margin: 0px;">
              <p style="margin-bottom:0;"><a class="btn btn-primary" style="left: 0; vertical-align: bottom"
                  role="button" routerLink="/viewVacancy/{{vacancy.vacancyId}}">View details &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="simpleVacancy" *ngIf="vacancy.hotVacancy!=true">
          <div class="card">
            <span class="ribbon"><span class="badge badge-danger"
                style="background-color: rgb(77, 189, 12)">OPEN</span></span>
            <h2 style="margin-left: 10px;">{{vacancy.position}}</h2>
            <p style="margin-left: 10px;">{{vacancy.employment}}</p>
            <td>
              <li style="margin-left: 20px;" *ngFor="let requirement of vacancy.requirements | slice:0:1;">
                {{requirement.description}}</li>
            </td>
            <div class="row align-items-end" style="height: 100%;margin: 0px;">
              <p style="margin-bottom:0;"><a class="btn btn-primary" style="left: 0; vertical-align: bottom"
                  role="button" routerLink="/viewVacancy/{{vacancy.vacancyId}}">View details &raquo;</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer style="position: absolute; bottom: 100px;  width: 100%;  height: 4.5rem;">
    <div class="paginations">
      <button *ngIf="canPreviousPage()" class="btn btn-info" style="margin-right:40px;margin-top: 60px"
        (click)="previousPage();">&laquo;
        Previous</button>
      <button *ngIf="canNextPage()" class="btn btn-info" style="margin-right:40px;margin-top: 60px"
        (click)="nextPage();">Next
        &raquo;</button>
    </div>
  </footer>
</body>

</html>