

<body>
  <div class="container" style="margin-top: 40px; opacity: 0.95;">
    <div class="col-md-9">
      <h2>List of Contracts</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th class="d-none">Id</th>
            <th>Price</th>
            <th>Description</th>
            <th>Skill Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cv of contracts">
            <td class="d-none">{{cv.contractId}}</td>

            <td>{{cv.price}}</td>
            <td>{{cv.description}}</td>
            <td>
              <li *ngFor="let skill of cv.neededSkill">{{skill.name}}</li>
            </td>
            <td>
              <a routerLink="/contract/update/{{cv.contractId}}" class="btn btn-success">Update</a>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteById(cv)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</body>

