<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" style="margin-top: 40px; opacity: 0.95;">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2 class="title">Profile</h2>
            <form class="form-horizontal" (ngSubmit)="update()" #personForm="ngForm">

              <fieldset class="fieldset">
                <h3 class="fieldset-title">Personal Info</h3>
                <div class="form-group">
                  <figure class="figure col-md-2 col-sm-3 col-xs-12">
                    <img *ngIf="avatar" class="rounded img-responsive" style="width: 160px; height: 180px"
                      [src]="avatar" alt="">
                    <img *ngIf="!avatar" class="rounded img-responsive" style="width: 160px; height: 180px"
                      src="/assets/img/user.jpg" alt="">
                  </figure>
                  <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                    <input type="file" class="custom-file-input" id="customFile" accept="image/*"
                      (change)="handlePhoto($event.target.files)">
                    <label class="custom-file-label" for="customFile" style="width: 160px;"></label>
                    <input class="btn btn-primary" type="button" value="Update Photo" (click)="uploadPhoto()"
                      style="width: 160px; margin-top: 10px; ">
                  </div>
                </div>

                <div class="form-group">
                  <label for="firstName" class="col-md-2 col-sm-3 col-xs-12 control-label">First Name</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[A-Za-z]{1,20}$" [(ngModel)]="person.firstName"
                      placeholder="First Name" id="firstName" name="firstName" #firstName="ngModel" required
                      autocomplete="off">
                    <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                      <div [hidden]="!firstName.errors.required">First Name is required!</div>
                      <div [hidden]="!firstName.errors.pattern">First Name can only contain letters of the alphabet
                        (from 1 to 20 characters).</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="lastName" class="col-md-2 col-sm-3 col-xs-12 control-label">Last Name</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[A-Za-z]{1,20}$" [(ngModel)]="person.lastName"
                      placeholder="Last Name" id="lastName" name="lastName" #lastName="ngModel" required
                      autocomplete="off">
                    <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                      <div [hidden]="!lastName.errors.required">Last Name is required!</div>
                      <div [hidden]="!lastName.errors.pattern">Last Name can only contain letters of the alphabet (from
                        1 to 20 characters).</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="birthday" class="col-md-2 col-sm-3 col-xs-12 control-label">Birthday</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="date" class="form-control" max="maxDate" [(ngModel)]="person.birthday" id="birthday"
                      name="birthday" #birthday="ngModel" required autocomplete="off">
                    <div *ngIf="birthday.errors && (birthday.dirty || birthday.touched)" class="alert alert-danger">
                      <div [hidden]="!birthday.errors.required">Birthday is required!</div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="fieldset">
                <h3 class="fieldset-title">Contact Info</h3>
                <div class="form-group">
                  <label for="email" class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="email" class="form-control" [(ngModel)]="person.contact.email" placeholder="Email"
                      id="email" name="email" #email="ngModel" required autocomplete="off">
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                      <div [hidden]="!email.errors.required">Email is required!</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="phoneNumber" class="col-md-2  col-sm-3 col-xs-12 control-label">Phone Number</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^\+[0-9]{12}"
                      [(ngModel)]="person.contact.phoneNumber" placeholder="Phone Number" id="phoneNumber"
                      name="phoneNumber" #phoneNumber="ngModel" required autocomplete="off">
                    <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)"
                      class="alert alert-danger">
                      <div [hidden]="!phoneNumber.errors.required">Phone Number is required!</div>
                      <div [hidden]="!phoneNumber.errors.pattern">Phone Number must contain 13 characters (including '+'
                        character). Available format: +380977167761</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="country" class="col-md-2 col-sm-3 col-xs-12 control-label">Address</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[A-Za-z+? ?-A-Za-z]{3,30}$"
                      [(ngModel)]="person.address.country" placeholder="Country" id="country" name="country"
                      #country="ngModel" required autocomplete="off">
                    <div *ngIf="country.errors && (country.dirty || country.touched)" class="alert alert-danger">
                      <div [hidden]="!country.errors.required">Country is required!</div>
                      <div [hidden]="!country.errors.pattern">Country can only contain letters of the alphabet (from 3
                        to 30 characters), spaces and hyphens.</div>
                    </div>
                  </div>
                  <label for="city street" class="col-md-10 col-form-label form-control-label"></label>
                  <div class="col-md-5" style="float: left; ">
                    <input type="text" class="form-control" pattern="^[A-Za-z+? ?-A-Za-z]{3,30}$"
                      [(ngModel)]="person.address.city" placeholder="City" id="city" name="city" #city="ngModel"
                      required autocomplete="off">
                    <div *ngIf="city.errors && (city.dirty || city.touched)" class="alert alert-danger">
                      <div [hidden]="!city.errors.required">City is required!</div>
                      <div [hidden]="!city.errors.pattern">City can only contain letters of the alphabet (from 3 to 30
                        characters), spaces and hyphens.</div>
                    </div>
                  </div>
                  <div class="col-md-5" style="float: left; ">
                    <input type="text" class="form-control" pattern="^[A-Za-z+? ?-A-Za-z]{3,30}$"
                      [(ngModel)]="person.address.street" placeholder="Street" id="street" name="street"
                      #street="ngModel" autocomplete="off">
                    <div *ngIf="street.errors && (street.dirty || street.touched)" class="alert alert-danger">
                      <div [hidden]="!street.errors.pattern">Street can only contain letters of the alphabet (from 3 to
                        30 characters), spaces and hyphens.</div>
                    </div>
                  </div>
                  <label for="building apartment zipCode" class="col-md-10 col-form-label form-control-label"></label>
                  <div class="col-md-3" style="float: left; ">
                    <input type="text" class="form-control" pattern="^[A-Za-z0-9]{1,5}$"
                      [(ngModel)]="person.address.building" placeholder="Building" id="building" name="building"
                      #building="ngModel" autocomplete="off">
                    <div *ngIf="building.errors && (building.dirty || building.touched)" class="alert alert-danger">
                      <div [hidden]="!building.errors.pattern">Building can only contain letters of the alphabet and
                        numbers (till 5 characters).</div>
                    </div>
                  </div>
                  <div class="col-md-3" style="float: left; ">
                    <input type="text" class="form-control" pattern="^[A-Za-z0-9]{1,5}$"
                      [(ngModel)]="person.address.apartment" placeholder="Apartment" id="apartment" name="apartment"
                      #apartment="ngModel" autocomplete="off">
                    <div *ngIf="apartment.errors && (apartment.dirty || apartment.touched)" class="alert alert-danger">
                      <div [hidden]="!apartment.errors.pattern">Apartment can only contain letters of the alphabet and
                        numbers (till 5 characters).</div>
                    </div>
                  </div>
                  <div class="col-md-4" style="float: left; ">
                    <input type="number" class="form-control" pattern="^[0-9]{5}$" [(ngModel)]="person.address.zipCode"
                      placeholder="Zip Code" id="zipCode" name="zipCode" #zipCode="ngModel" autocomplete="off">
                    <div *ngIf="zipCode.errors && (zipCode.dirty || zipCode.touched)" class="alert alert-danger">
                      <div [hidden]="!zipCode.errors.pattern">Zip Code can only contain numbers (5 characters).</div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <hr>
              <div class="form-group">
                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                  <input class="btn btn-primary" type="submit" [disabled]="!personForm.form.valid"
                    value="Update Profile">
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>