<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div id="searchMenu" hidden="hidden">
    <form class="search-form">
      <div class="select-control" *ngIf="isCowner">Search</div>
      <select [(ngModel)]="search.searchDocument" (ngModelChange)="selectDocument()" name="searchDocument"
        class="form-control" *ngIf="isCowner">
        <option [defaultSelected]="search.searchDocument" value="vacancies">vacancies</option>
        <option value="resume">resume</option>
      </select>
      <div class="vacancy-select" [hidden]="vacancySelect">
        <div class="select-control" *ngIf="!isCowner">Search vacancies by:</div>
        <div class="select-control" *ngIf="isCowner">by:</div>
        <select [(ngModel)]="search.searchParameter" name="searchParameter" class="form-control">
          <option [defaultSelected]="search.searchParameter" value="position">position</option>
          <option value="city">city</option>
          <option value="company">company</option>
        </select>
      </div>
      <div class="resume-select" [hidden]="resumeSelect" *ngIf="isCowner">
        <div class="select-control" *ngIf="isCowner">by:</div>
        <select [(ngModel)]="search.searchParameter" name="searchParameter" class="form-control">
          <option [defaultSelected]="search.searchParameter" value="name">name</option>
          <option value="skill">skill</option>
          <option value="phoneNumber">phone</option>
          <option value="city">city</option>
          <option value="position">position</option>
        </select>
      </div>
      <input type="text" [(ngModel)]="search.searchText" placeholder="Search.." name="searchText"
        class="form-control"><br>
      <button id="startButton" class="btn btn-info" (click)="start()">Start search</button>
    </form>
  </div>

  <div class="main">
    <div class="resultOnPage" [hidden]="resultText">
      <label>Results on page:
        <select [(ngModel)]="search.resultsOnPage" (change)="startSearch()" name="searchParameter" class="form-control">
          <option [defaultSelected]="search.resultsOnPage" value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
      </label>
    </div>

    <div class="search-result" [hidden]="resultText">
      <h2>Search result</h2>
      <h5>{{searchResumeResponse.count}} Resume founded</h5>
    </div>

    <div class="page" [hidden]="topButtons">
      <h5>Page {{pageNumber}} of {{pagesCount}}</h5>
      <button class="btn btn-info" [disabled]="previousButton" (click)="previousPage()">&laquo; Previous</button>
      <button class="btn btn-info" [disabled]="nextButton" (click)="nextPage()">Next &raquo;</button>
    </div>

    <div id="table">
      <table id="tableId" class="table table-striped" [hidden]="resultText">
        <thead>
          <tr>
            <th class="d-none">Id</th>
            <th (click)="sort('firstName')">First Name <i class="fa fa-arrows-v" [hidden]="fnHidden"></i></th>
            <th (click)="sort('lastName')">Last Name <i class="fa fa-arrows-v" [hidden]="lnHidden"></i></th>
            <th (click)="sort('age')">Age <i class="fa fa-arrows-v" [hidden]="aHidden"></i></th>
            <th (click)="sort('position')">Position <i class="fa fa-arrows-v" [hidden]="posHidden"></i></th>
            <th (click)="sort('city')">City <i class="fa fa-arrows-v" [hidden]="cHidden"></i></th>
            <th (click)="sort('phone')">Phone <i class="fa fa-arrows-v" [hidden]="phHidden"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let searchResumeResult of searchResumeResponse.searchResumeDtos">
            <td class="d-none">{{searchResumeResult.resumeId}}</td>
            <td>{{searchResumeResult.firstName}}</td>
            <td>{{searchResumeResult.lastName}}</td>
            <td>{{searchResumeResult.age}} years old</td>
            <td>{{searchResumeResult.position}}</td>
            <td>{{searchResumeResult.city}}</td>
            <td>{{searchResumeResult.phoneNumber}}</td>
            <td><button class="btn btn-info" (click)="viewCv(searchResumeResult.resumeId)">View details</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="page" [hidden]="bottomButtons">
      <h5>Page {{pageNumber}} of {{pagesCount}}</h5>
      <button class="btn btn-info" [disabled]="previousButton" (click)="previousPage()">&laquo; Previous</button>
      <button class="btn btn-info" [disabled]="nextButton" (click)="nextPage()">Next &raquo;</button>
    </div>
  </div>
</body>

</html>