<!--
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" style="margin-top: 40px; opacity: 0.95;">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2>List of resumes</h2>
            <br>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="d-none">Id</th>
                  <th>First Name</th>
                  <th>Second Name</th>
                  <th>Phone number</th>
                  <th>Mail</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let resume of resumes">
                <tr *ngIf="resume.reviewed==null||resume.reviewed==false; else reviewBlock" style="background: white;">
                  <td class="d-none">{{resume.resumeId}}</td>
                  <td>{{resume.person.firstName}}</td>
                  <td>{{resume.person.lastName}}</td>
                  <td>{{resume.person.contact.phoneNumber}}</td>
                  <td>{{resume.person.contact.email}}</td>
                  <td>
                    <a (click)="showPdf(resume)" class="btn" rel="tooltip" title="View resume"><i
                        class="fa fa-eye"></i></a>
                    <a class="btn" (click)="changeStatus(resume)" rel="tooltip" title="Show">&#10008;</a>
                  </td>
                </tr>
                <ng-template #reviewBlock>
                  <tr>
                    <td class="d-none">{{resume.resumeId}}</td>
                    <td>{{resume.person.firstName}}</td>
                    <td>{{resume.person.lastName}}</td>
                    <td>{{resume.person.contact.phoneNumber}}</td>
                    <td>{{resume.person.contact.email}}</td>
                    <td>
                      <a (click)="showPdf(resume)" class="btn" rel="tooltip" title="View resume"><i
                          class="fa fa-eye"></i></a>
                      <a class="btn" (click)="changeStatusOnNew(resume)" rel="tooltip"
                        title="Vacancy revised">&#10004;</a>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>-->