<body>
    <div class="container" style="margin-top: 40px; opacity: 0.95;">
      <div class="col-md-9">
        <h2>List of Contracts</h2>
  
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="d-none">Id</th>
              <th>Price</th>
              <th>Description</th>
              <th>Skill Name</th>
              <th>Skill Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let con of contracts">
              <td class="d-none">{{con.contractId}}</td>
  
              <td>{{con.price}}</td>
              <td>{{con.description}}</td>
              <td>
                <li *ngFor="let skill of con.neededSkills">{{skill.skillName}}</li>
              </td>
              <td>
                <li *ngFor="let skill of con.neededSkills">{{skill.skillDescription}}</li>
              </td>
              
              <td>
                <a routerLink="/contract/update/{{con.contractId}}" class="btn btn-success">Update</a>
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteById(con)">Delete</button>
              </td>
              
            </tr>
          </tbody>
        </table>
  
      </div>
    </div>
  </body>
  
  