<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" style="margin-top: 38px; opacity: 0.95;">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2>
              <i *ngIf="company.status == 'APPROVED' && !hasClaims()" class="fa fa-thumbs-up" rel="tooltip"
                title="This company is approved" style="color: green; font-size: 150%;"></i>
              <i *ngIf="company.status == 'APPROVED' && hasClaims()" class="fa fa-warning" rel="tooltip"
                title="This company has claims" style="color: orange; font-size: 150%;"></i>
              <i *ngIf="company.status == 'CREATED'" class="fa fa-times" style="color: red; font-size: 150%;"
                rel="tooltip" title="This company is not approved"></i>
              <i *ngIf="company.status == 'BLOCKED'" class="fa fa-lock" style="color: black; font-size: 150%;"
                rel="tooltip" title="This company is blocked"></i>
              {{company.name}}
            </h2>
            <img *ngIf="avatar" style="height: 150px; float: left; margin-right: 5%;" [src]="avatar" alt="">
            <img *ngIf="!avatar" style="height: 150px; float: left; margin-right: 5%;" src="/assets/img/company.png"
              alt="">

            <p>{{company.description}}</p>

            <h4 class="fieldset-title"></h4>
            <div class="row">
              <div class="col-md-5">
                <h4>Contact</h4>
                <div class="col-md-13">
                  Email: {{company.contact.email}}
                </div>
                <br>
                <div class="col-md-13">
                  Phone Number: {{company.contact.phoneNumber}}
                </div>
                <br>
                <div class="col-md-13">
                  Website: {{company.website}}
                </div>
              </div>
              <div class="col-md-7">
                <h4>Address</h4>
                <div class="row">
                  <div class="col-md-4">
                    Country: {{company.address.country}}</div>
                  <div class="col-md-4">
                    City: {{company.address.city}}</div>
                  <div class="col-md-4" *ngIf="company.address.zipCode != null && company.address.zipCode != ''">
                    ZipCode: {{company.address.zipCode}}</div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4" *ngIf="company.address.street != null && company.address.street != ''">
                    Street: {{company.address.street}}</div>
                  <div class="col-md-4" *ngIf="company.address.building != null && company.address.building != ''">
                    Building: {{company.address.building}}</div>
                  <div class="col-md-4" *ngIf="company.address.apartment != null && company.address.apartment != ''">
                    Apartment: {{company.address.apartment}}</div>
                </div>
              </div>
            </div>
            <br>
            <button *ngIf="claiming == false && !checkUser()" class="btn btn-warning"
              (click)="claiming = true;">Claim</button>
            <div *ngIf="claiming == true">
              <form class="form-horizontal" (ngSubmit)="createClaim()" #claimForm="ngForm">
                <fieldset class="fieldset">
                  <h4 class="fieldset-title">Make a claim</h4>
                  <div class="form-group">
                    <label for="title" class="col-md-2 col-sm-3 col-xs-12 control-label">Title</label>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                      <select id="title" name="title" class="form-control" required [(ngModel)]="claim.title"
                        #title="ngModel">
                        <option value="None" selected>None</option>
                      </select>
                      <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
                        <div [hidden]="!title.errors.required">Title is required!</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="description" class="col-md-2 col-sm-3 col-xs-12 control-label">Description</label>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                      <textarea class="form-control" pattern="^[\s\S]{0,500}$" [(ngModel)]="claim.description"
                        placeholder="Description" id="description" name="description" #description="ngModel"
                        autocomplete="off" style="resize: none" rows="5" required>
                        </textarea>
                      <div *ngIf="description.errors && (description.dirty || description.touched)"
                        class="alert alert-danger">
                        <div [hidden]="!description.errors.pattern">
                          Description is incorrect (up to 500 characters)!
                        </div>
                        <div [hidden]="!description.errors.required">Description is required!</div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <input type="reset" class="btn btn-default" value="Cancel" (click)="claiming = false;">
                <input type="submit" class="btn btn-danger" value="Claim" [disabled]="!claimForm.form.valid"
                  style="margin-left: 30px;">
              </form>
            </div>

            <a *ngIf="checkUser() && isCowner && company.status == 'APPROVED'" class="btn btn-primary"
              style="margin: 20px;" routerLink="/createVacancy/{{company.companyId}}">Create Vacancy</a>

            <h4 class="fieldset-title"></h4>
            <h4>Vacancies</h4>
            <div class="container">
              <div class="row">
                <div class="col-lg-6" *ngFor="let vacancy of vacancies; let index = index">

                  <div class="hotVacancies" *ngIf="vacancy.hotVacancy == true">
                    <div style="background: rgb(247, 248, 196)" class="card">
                      <span class=" ribbon"><span class="badge badge-danger">HOT</span></span>
                      <h2 style="margin-left: 10px;">{{vacancy.position}}</h2>
                      <p style="margin-left: 10px;">{{vacancy.employment}}</p>
                      <td>
                        <li style="margin-left: 20px;" *ngFor="let requirement of vacancy.requirements | slice:0:1;">
                          {{requirement.description}}</li>
                      </td>
                      <div class="row align-items-end" *ngIf="company.status == 'APPROVED'"
                        style="height: 100%; margin: 0px;">
                        <p style="margin-bottom: 0;"><a class="btn btn-primary" style="left: 0; vertical-align: bottom"
                            role="button" routerLink="/updateVacancy/{{vacancy.vacancyId}}" *ngIf="isCowner">View
                            details &raquo;</a></p>
                        <p style="margin-bottom: 0; margin-left: 30px;"><a class="btn btn-warning"
                            style="left: 0; vertical-align: bottom;" role="button" href="#closeVacancyModal{{index}}"
                            data-toggle="modal" *ngIf="isCowner" (click)="ifClicked()">Close vacancy</a></p>

                        <div id="closeVacancyModal{{index}}" class="modal fade" *ngIf="wasClicked == true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">
                                  <h4 class="modal-title">Close vacancy</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    (click)="ifClicked()">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <h4 class="text-muted">Reason for closing</h4>
                                    <select name="closedVacancies" class="custom-select mb-3"
                                      [(ngModel)]="reasonForClosing">
                                      <option value="occupied">OUTDATED</option>
                                      <option value="outdated">OCCUPIED</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"
                                    (click)="clickedCancel()">
                                  <input type="submit" class="btn btn-success" value="Close"
                                    (click)="closeVacancy(vacancy)">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="closedVacancies" *ngIf="vacancy.vacancyStatus == 'OUTDATED'">
                    <div style="background: rgba(29, 128, 59, 0.1)" class="card">
                      <span class="ribbon"><span class="badge badge-danger"
                          style="background-color: grey">OUTDATED</span></span>
                      <h2 style="margin-left: 10px;">{{vacancy.position}}</h2>
                      <p style="margin-left: 10px;">{{vacancy.employment}}</p>
                      <td>
                        <li style="margin-left: 20px;" *ngFor="let requirement of vacancy.requirements | slice:0:1;">
                          {{requirement.description}}</li>
                      </td>
                      <div class="row align-items-end" *ngIf="company.status == 'APPROVED'"
                        style="height: 100%; margin: 0px;">
                        <p style="margin-bottom: 0;"><a class="btn btn-primary" style="left: 0; vertical-align: bottom"
                            role="button" routerLink="/updateVacancy/{{vacancy.vacancyId}}" *ngIf="isCowner">View
                            details &raquo;</a></p>
                        <p style="margin-bottom: 0; margin-left: 30px"><a class="btn btn-success"
                            style="left: 0; vertical-align: bottom" role="button" href="#openVacancyModal{{index}}"
                            data-toggle="modal" *ngIf="isCowner" (click)="ifClicked()">Open vacancy</a></p>

                        <div id="openVacancyModal{{index}}" class="modal fade" *ngIf="wasClicked == true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">
                                  <h4 class="modal-title">Open vacancy</h4>
                                  <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <h5 class="text-muted">Are you sure you want to open this vacancy?</h5>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"
                                    (click)="clickedCancel()">
                                  <input type=" submit" class="btn btn-success" value="Open"
                                    (click)="openVacancy(vacancy)">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="closedVacancies" *ngIf="vacancy.vacancyStatus == 'OCCUPIED'">
                    <div style="background: rgba(29, 128, 59, 0.1)" class="card">
                      <span class="ribbon"><span class="badge badge-danger"
                          style="background-color: grey">OCCUPIED</span></span>
                      <h2 style="margin-left: 10px;">{{vacancy.position}}</h2>
                      <p style="margin-left: 10px;">{{vacancy.employment}}</p>
                      <td>
                        <li style="margin-left: 20px;" *ngFor="let requirement of vacancy.requirements | slice:0:1;">
                          {{requirement.description}}</li>
                      </td>
                      <div class="row align-items-end" *ngIf="company.status == 'APPROVED'"
                        style="height: 100%; margin: 0px;">
                        <p style="margin-bottom: 0;"><a class="btn btn-primary" style="left: 0; vertical-align: bottom"
                            role="button" routerLink="/updateVacancy/{{vacancy.vacancyId}}" *ngIf="isCowner">View
                            details &raquo;</a></p>
                        <p style="margin-bottom: 0; margin-left: 30px"><a class="btn btn-success"
                            style="left: 0; vertical-align: bottom" role="button" href="#openVacancyModal{{index}}"
                            data-toggle="modal" *ngIf="isCowner" (click)="ifClicked()">Open vacancy</a></p>

                        <div id="openVacancyModal{{index}}" class="modal fade" *ngIf="wasClicked == true" a>
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">
                                  <h4 class="modal-title">Open vacancy</h4>
                                  <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <h5 class="text-muted">Are you sure you want to open this vacancy?</h5>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"
                                    (click)="clickedCancel()">
                                  <input type="submit" class="btn btn-success" value="Open"
                                    (click)="openVacancy(vacancy)">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="simpleVacancy" *ngIf="vacancy.hotVacancy != true && vacancy.vacancyStatus == 'OPEN'">
                    <div class="card">
                      <span class="ribbon"><span class="badge badge-danger"
                          style="background-color: rgb(77, 189, 12)">OPEN</span></span>
                      <h2 style="margin-left: 10px;">{{vacancy.position}}</h2>
                      <p style="margin-left: 10px;">{{vacancy.employment}}</p>
                      <td>
                        <li style="margin-left: 20px;" *ngFor="let requirement of vacancy.requirements | slice:0:1;">
                          {{requirement.description}}</li>
                      </td>
                      <div class="row align-items-end" *ngIf="company.status == 'APPROVED'" style="height: 100%;margin: 0px;">
                        <p style="margin-bottom: 0;"><a class="btn btn-primary" style="left: 0; vertical-align: bottom"
                            role="button" routerLink="/updateVacancy/{{vacancy.vacancyId}}" *ngIf="isCowner">View
                            details &raquo;</a></p>
                        <p style="margin-bottom: 0; margin-left: 30px"><a class="btn btn-warning"
                            style="left: 0; vertical-align: bottom" role="button" href="#closeVacancyModal{{index}}"
                            data-toggle="modal" *ngIf="isCowner" (click)="ifClicked()">Close vacancy</a></p>

                        <div id="closeVacancyModal{{index}}" class="modal fade" *ngIf="wasClicked == true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">
                                  <h4 class="modal-title">Close vacancy</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    (click)="ifClicked()">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <h4 class="text-muted">Reason for closing</h4>
                                    <select name="closedVacancies" class="custom-select mb-3"
                                      [(ngModel)]="reasonForClosing">
                                      <option value="occupied">OUTDATED</option>
                                      <option value="outdated">OCCUPIED</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"
                                    (click)="clickedCancel()">
                                  <input type="submit" class="btn btn-success" value="Close"
                                    (click)="closeVacancy(vacancy)">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <footer>
                <div class="paginations">
                  <button *ngIf="canPrev()" class="btn btn-info" style="margin-right:40px" (click)="prev();">&laquo;
                    Previous</button>
                  <button *ngIf="canNext()" class="btn btn-info" style="margin-right:40px" (click)="next();">Next
                    &raquo;</button>
                </div>
              </footer>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>